@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Fira+Mono:wght@500&display=swap");

.imgnav {
  max-width: 50px;
  max-height: 37px;
  width: auto;
  height: auto;
}
#navtitle {
  font-family: "Permanent Marker", cursive;
}

#slayersnavitem:hover {
  font-weight: bold;
  color: #e3cc1bbf;
}

#hashirasnavitem:hover {
  font-weight: bold;
  color: #ff8c00bf;
}

#onisnavitem:hover {
  font-weight: bold;
  color: #8c0f1a;
}

#moonsnavitem:hover {
  font-weight: bold;
  color: #b700ffbf;
}

#bossesnavitem:hover {
  font-weight: bold;
  color: #ffffffbf;
}
